{% extends "base.html" %}
{% block content %}
  <h1>Project Detail for {{project.title}}</h1>
  <div name="story_display">
    <h1>Story</h1>
    {% if project.story %} 
    <p>{{project.story.content}} </p>
    {% else  %}
    <a href="{% url 'add-story' project_pk=project.pk %}">Add Story</a>
    {% endif %}
  </div>
  <!-- Blueprint -->
  <div name="blueprint_display">
    <h1>Blueprint</h1>
    {% if blueprints %}
      {% for blueprint in blueprints %}
      <ul>
          <li>Status: {{ blueprint.review_status }}</li>
          <li>
              <a href="{% url 'blueprint-detail' blueprint_pk=blueprint.pk %}">
                  View Blueprint
              </a>
          </li>
      </ul>
      {% endfor %}
    {% else %}
        <p>No accepted blueprint available.</p>
        <a href="{% url 'blueprint' story_pk=project.story.pk %}">Generate Blueprint</a>
    {% endif %}
  
    <!-- Storyboard -->
    <h1>Storyboard</h1>
    <a href="{% url 'storyboard' blueprint_pk=accepted_blueprint.pk %}">View Storyboard</a>
    
  </div>


{% endblock %}
