{% extends 'base.html' %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'storyboards/css/styles.css' %}">
{% endblock %}

{% block content %}
<!-- request size / refresh page -->

<form method="post">
    {% csrf_token %}
    <fieldset>
        <label>
            Size
            <select name="image_size" onchange="this.form.submit()">
                <option value="landscape"
                    {% if request.POST.image_size == "landscape" or not request.POST.image_size %}
                        selected
                    {% endif %}
                >Landscape</option>
                <option value="portrait"
                    {% if request.POST.image_size == "portrait" %}
                        selected
                    {% endif %}
                >Portrait</option>
            </select>
        </label>
        <label>
            Style
            <select name="image_style" onchange="this.form.submit()">
                <option value="pixar"
                    {% if request.POST.image_style == "pixar"%}
                        selected
                    {% endif %}
                >Pixar</option>
            </select>
        </label>
    </fieldset>

</form>

<form method="post">
    {% csrf_token %}

    <div name="character_design_block">
        <h1>Character Design</h1>
        <div name="image_grid_display">
            {% for sheet in character_sheets %}
                <h1>{{sheet.name}}</h1>
                <div class="image-stack" id="character-stack-{{sheet.id}}">
                    {% for image in sheet.images %}
                    <!-- make first card cover -->
                        <div class="image-card" id="image-{{image.pk}}" data-status="{{image.review_status}}">
                            <img src="{{ image.image_file.url }}">
                            <div name="user-review">
                                <button class="accept-btn" data-url="{% url 'accept_image' pk=image.pk %}" type="button">
                                    Accept
                                </button>
                                <p>or</p>
                                <button class="reject-btn" data-url="{% url 'reject_image' pk=image.pk%}" type="button">
                                    Reject
                                </button>
                            </div>
                          <!-- REVIEW NOTE -->
                            <div class="review-note-container" data-content="{{image.review_note}}" hidden>
                                <label for="review-note-content-{{image.pk}}">Why was this rejected?</label>
                                <textarea class="review-note-textarea" id="review-note-content-{{image.pk}}" rows=3></textarea>
                                <button 
                                    class="submit-review-note"
                                    data-url="{% url 'reject_description' pk=image.pk%}"
                                    type="button">
                                    submit
                                </button>
                            </div>
                            <!-- REGENERATE -->
                            <div class="image-regen-parent-container" hidden>
                                <button class="reveal-image-regen-btn" type="button">
                                    Generate New Image
                                </button>
                                <div class="image-regen-popup" hidden>
                                    <div class="regen-form">
                                        <h2>Regenerate Image</h2>
                                        <textarea class="reprompt-textarea" type="text" placeholder="reprompt the ai" rows=5></textarea>

                                        <div class="reference-image-container">
                                            <button 
                                            class="attach-reference-btn"
                                            type="button">
                                            Attach Reference Photos
                                            </button>

                                            <div class="reference-image-selector" hidden>
                                                {% for ref_image in available_reference_images %}
                                                    <div class="reference-image" data-id="{{ref_image.pk}}" data-selected="false">
                                                        <img src="{{ref_image.image_file.url}}">
                                                    </div>
                                                {% endfor %}
                                            </div>

                                        </div>
                                        
                                        <button class="submit-regen-btn" data-url="{% url 'regen_image' pk=image.pk %}"></button> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor%}
                </div>
            {% endfor %}
        </div>
        {% if missing_character_sheets %}
            <button name="action" value="generate_character_sheets" type="submit">Generate Characters</button>
        {% endif %}
    </div>

    <script>

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;            


        // Event Listeners

        document.querySelectorAll(".image-regen-parent-container").forEach(container => {
            const revealBtn = container.querySelector(".reveal-image-regen-btn")
            const popUp = container.querySelector(".image-regen-popup")
            revealBtn.addEventListener("click", () => {
                popUp.hidden = !popUp.hidden
                popUp.textContent = popUp.hidden ? "Generate New Image" : "close"
            })

            const selector = container.querySelector(".reference-image-selector")
            const referenceImages = selector.querySelectorAll(".reference-image")
            const selectedReferenceImages = []
            referenceImages.forEach(image => {
                image.addEventListener("click", () => {
                    const imgId = image.dataset.id
                    if (image.dataset.selected == "false") {
                        image.dataset.selected = "true"
                        selectedReferenceImages.push(imgId)
                    } else {
                        image.dataset.selected = "false";
                        const index = selectedReferenceImages.indexOf(imgId);
                        if (index !== -1) {
                            selectedReferenceImages.splice(index, 1);
                        }
                    }
                })
            })

            const subBtn = container.querySelector(".submit-regen-btn")
            subBtn.addEventListener("click", () => {
                const reprompt = container.querySelector(".reprompt-textarea").value
                if (!reprompt) return

                fetch(url, {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": csrftoken,
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        reprompt: reprompt,
                        reference_images: selectedReferenceImages
                    })
                }).catch(err => {
                console.error(err)
                // maybe show an error message to the user
            })
        }))



        document.querySelectorAll(".submit-review-note").forEach(button => {
            button.addEventListener("click", () => {
                reviewNoteSubmission(button)
            })
        })

        document.querySelectorAll(".accept-btn").forEach(button => {
            button.addEventListener("click", () => {
                reviewImage(button)
            })
        })

        document.querySelectorAll(".reject-btn").forEach(button => {
            button.addEventListener("click", () => {
                reviewImage(button)
            });

        });


        // functions

        async function reviewNoteSubmission(button) {
            const url = button.dataset.url
            const container = button.closest(".review-note-container")
            const textarea = container.querySelector(".review-note-textarea")
            const content = textarea.value 

            const response = await fetch(url, {
                method: "POST",
                headers: {
                    "X-CSRFToken": csrftoken,
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    review_note: content,
                })
            })

            const data = await response.json()
            container.dataset.content = data.content

            const card = container.closest(".image-card")
            updateReviewNote(card)
        }

        async function reviewImage(button) {
            const response = await fetch(
                button.dataset.url, {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": csrftoken,
                        "X-Requested-With": "XMLHttpRequest",
                    }
                });
                if (response.ok) {
                    const data = await response.json()
                    const card = button.closest(".image-card");
                    const stack = card.closest(".image-stack")
        
                    if (!card) {
                        console.error("Image card not found", data.id);
                        return;
                    }
                    if (data.change_card_id) {
                        const update_card = document.querySelector(`#image-${data.change_card_id}`);
                        update_card.dataset.status = "pending"
                        updateCard(update_card)
                    }

                    card.dataset.status = data.status;
                    
                    if (data.status == "approved") {
                        stack.prepend(card)

                    } else if (data.status == "rejected"){
                        stack.append(card)
                    }

                    updateCard(card)

                } else {
                    alert("Failed to accept image")
                }
        };

        function updateReviewNote(card) {
            const rejectDescription = card.querySelector(".review-note-container")
            if (!rejectDescription) return

            const reviewNote = rejectDescription.dataset.content
            const isRejected = card.dataset.status == "rejected"

            rejectDescription.hidden = !(isRejected && !reviewNote)

        }

        function updateRegenerateWindow(card) {
            const regenContainer = card.querySelector(".image-regen-container")
            if  (!regenContainer) return
            const isApproved = card.dataset.status == "approved"

            regenContainer.hidden = isApproved
        }

        function updateCard(card) {
            updateReviewNote(card)
            updateRegenerateWindow(card)
        }

        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll(".image-card").forEach(card => {
                updateCard(card)
            })
        })

                
    </script>

    <div name="background_block">
        <h1>Backgrounds</h1>
        <div name="background_grid_display">
            {% for image in background_design_images %}
                <h1>{{ image.key }}</h1>
                <img src="{{ image.image_file.url }}">
            {% endfor %}
        </div>
        <div name="progress">{{ completed_backgrounds }}</div>
        <button name="action" value="generate_backgrounds" type="submit">Generate Backgrounds</button>
    </div>

    <div name="scene_block">
        <h1>Scenes</h1>
        <div name="scene_grid_display">
            {% for image in scene_images %}
                <h1>{{ image.key }}</h1>
                <img src="{{ image.image_file.url }}">
            {% endfor %}
        </div>
        <div name="progress">{{ completed_scenes }}</div>
        <button name="action" value="generate_next_scene" type="submit">Generate Next Scene</button>
    </div>

</form>

{% endblock %}
    
