{% extends 'base.html' %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'storyboards/css/styles.css' %}">
{% endblock %}

{% block content %}
<!-- request size / refresh page -->

<form method="post">
    {% csrf_token %}
    <fieldset>
        <label>
            Size
            <select name="image_size" onchange="this.form.submit()">
                <option value="landscape"
                    {% if request.POST.image_size == "landscape" or not request.POST.image_size %}
                        selected
                    {% endif %}
                >Landscape</option>
                <option value="portrait"
                    {% if request.POST.image_size == "portrait" %}
                        selected
                    {% endif %}
                >Portrait</option>
            </select>
        </label>
        <label>
            Style
            <select name="image_style" onchange="this.form.submit()">
                <option value="pixar"
                    {% if request.POST.image_style == "pixar"%}
                        selected
                    {% endif %}
                >Pixar</option>
            </select>
        </label>
    </fieldset>

</form>

<form method="post">
    {% csrf_token %}

    <div name="character_design_block">
        <h1>Character Design</h1>
        <div name="image_grid_display">
            {% for sheet in character_sheets %}
                <h1>{{sheet.name}}</h1>
                <div class="image-stack" id="character-stack-{{sheet.id}}">
                    {% for image in sheet.images %}
                    <!-- make first card cover -->
                        <div class="image-card {% if image.review_status == 'approved' %}approved{% elif image.review_status == 'rejected' %}rejected{% endif %}"
                        id="image-{{image.pk}}">
                            <img src="{{ image.image_file.url }}">
                            <div name="user-review">
                                <button class="accept-btn" data-url="{% url 'accept_image' pk=image.pk %}" type="button">
                                    Accept
                                </button>
                                <p>or</p>
                                <button class="reject-btn" data-url="{% url 'reject_image' pk=image.pk%}" type="button">
                                    Reject
                                </button>
                                <div class="rejected-description" hidden>
                                    <label for="reason-{{image.pk}}">Why was this rejected?</label>
                                    <textarea name="reason" id="reason-{{image.pk}}" rows=3></textarea>
                                    <button 
                                        class="submit-rejection-description-btn"
                                        data-url="{% url 'reject_image' pk=image.pk%}"
                                        data-image="{{image.pk}}"
                                        type="button">
                                        submit
                                    </button>

                                </div>
                                
                            </div>
                            <!-- image reprompt -->
                            <div class="image-reprompt" hidden>
                                <button id="open-regen-btn" type="button">
                                    Generate New Image
                                </button>
                                <div id="regen-popup" class="regen-popup" hidden>
                                    <div class="regen-popup-content">
                                        <h2>Regenerate Image</h2>
                                        <textarea id="reprompt-text-{{image.pk}}" class="reprompt-textarea" type="text" placeholder="reprompt the ai" rows=5>

                                        <button 
                                            class="attach-reference-btn"
                                            type="button">
                                            Attach reference photos
                                        </button>

                                        <div class="reference-selector" hidden>
                                            {% for ref_image in available_reference_images %}
                                                <div class="reference-option" data-id="{{ref_image.pk}}">
                                                    <img src="{{ref_image.image_file.url}}">
                                                </div>
                                            {% endfor %}
                                        </div>


                                        {% comment %} <button class="submit-reprompt-btn" data-url="{% url 'reprompt_image' pk=image.pk %}" data-id="{{image.pk}}"></button> {% endcomment %}
                                        <button class="close-popup-btn" type="button">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor%}
                </div>
            {% endfor %}
        </div>
        {% if missing_character_sheets %}
            <button name="action" value="generate_character_sheets" type="submit">Generate Characters</button>
        {% endif %}
    </div>

    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        document.querySelectorAll(".submit-reprompt-btn").forEach(button => {
            button.addEventListener("click", async () => {
                const value = document.querySelector(`#reprompt-text-${button.dataset.id}`).value
                const url = button.dataset.url
                const imageID = button.dataset.id
     
                response = await fetch(
                    url, {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": csrftoken,
                        "X-Requested-With": "XMLHttpRequest",
                    },
                    body: JSON.stringify({
                        "reprompt": value,
                    })
                });
                if (response.ok) {
                    const data = await response.json()
                    const oldCard = document.querySelector(`#image-${imageID}`)
                    const textarea = oldCard.querySelector(".reprompt-textarea");
                    const repromptButton = oldCard.querySelector(".submit-reprompt-btn");
                    oldCard.id = `image-${data.id}`
                    oldCard.querySelector("img").src = data.image_url
                    oldCard.querySelector(".accept-btn").dataset.url = data.accept_url;
                    oldCard.querySelector(".reject-btn").dataset.url = data.reject_url;
                    textarea.id = `reprompt-text-${data.id}`;
                    repromptButton.dataset.id = data.id;
                    repromptButton.dataset.url = data.reprompt_url;
                }
            })
        })
            

        document.querySelectorAll(".image-reprompt").forEach(popup => {
            const card = popup.closest(".image-card")
            if (card.classList.contains("approved")) {
                popup.hidden = true
            } else {
                popup.hidden = !popup.hidden
            }
        })
        
        document.querySelectorAll(".close-popup-btn").forEach(button => {
            button.addEventListener("click", () => {
                const popUp = button.closest(".regen-popup-content").parentElement
                popUp.hidden = true
            })

        })

        document.querySelectorAll("#open-regen-btn").forEach(button => {
            button.addEventListener("click", () => {
                const regenParent = button.closest(".image-reprompt")
                const regenPopUp = regenParent.querySelector(".regen-popup")
                regenPopUp.hidden = !regenPopUp.hidden
            })
        })

        async function rejectDescription(button) {
            const imageId = button.dataset.image
            const url = button.dataset.url

            const reason = document.querySelector(`#reason-${imageId}`).value
            fetch(url, {
                method: "POST",
                headers: {
                    "X-CSRFToken": csrftoken,
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    reason: reason,
                })
            })
        }

        async function reviewImage(button) {
            const response = await fetch(
                button.dataset.url, {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": csrftoken,
                        "X-Requested-With": "XMLHttpRequest",
                    }
                });
                if (response.ok) {
                    const data = await response.json()
                    const card = document.querySelector(`#image-${data.id}`);
                    card.classList.remove("approved", "rejected");
                    card.classList.add(data.status);
                    if (data.change_card_id) {
                        const update_card = document.querySelector(`#image-${data.change_card_id}`);
                        update_card.classList.remove("approved", "rejected")
                    }
                    const regenPopUp = card.querySelector(".image-reprompt")
                    // update stack order
                    const stack = card.closest(".image-stack")
                    if (data.status == "approved") {
                        stack.prepend(card)
                        regenPopUp.hidden = true

                    } else {
                        stack.append(card)
                        regenPopUp.hidden = !regenPopUp.hidden
                    }
                } else {
                    alert("Failed to accept image")
                }
        };

        document.querySelectorAll(".submit-rejection-description-btn").forEach(button => {
            button.addEventListener("click", () => {
                rejectDescription(button)
            })
        })
 
        document.querySelectorAll(".accept-btn").forEach(button => {
            button.addEventListener("click", () => {
                reviewImage(button)
                const reviewSection = button.closest("[name='user-review']")
                const rejectDescription = reviewSection.querySelector(".rejected-description")
                rejectDescription.hidden = true
            })
        })

        document.querySelectorAll(".reject-btn").forEach(button => {
            button.addEventListener("click", () => {
                reviewImage(button)
                const reviewSection = button.closest("[name='user-review']")
                const rejectDescription = reviewSection.querySelector(".rejected-description")
                rejectDescription.hidden = !rejectDescription.hidden
            });

        });




                
    </script>

    <div name="background_block">
        <h1>Backgrounds</h1>
        <div name="background_grid_display">
            {% for image in background_design_images %}
                <h1>{{ image.key }}</h1>
                <img src="{{ image.image_file.url }}">
            {% endfor %}
        </div>
        <div name="progress">{{ completed_backgrounds }}</div>
        <button name="action" value="generate_backgrounds" type="submit">Generate Backgrounds</button>
    </div>

    <div name="scene_block">
        <h1>Scenes</h1>
        <div name="scene_grid_display">
            {% for image in scene_images %}
                <h1>{{ image.key }}</h1>
                <img src="{{ image.image_file.url }}">
            {% endfor %}
        </div>
        <div name="progress">{{ completed_scenes }}</div>
        <button name="action" value="generate_next_scene" type="submit">Generate Next Scene</button>
    </div>

</form>

{% endblock %}
    
