<!DOCTYPE html>
<html>
    <head>
        <style>
            body { margin: 1rem; display: flex; flex-direction: column; height: 100vh; box-sizing: border-box; }
            form { flex: 1; display: flex; flex-direction: column; }
            form p { flex: 1; display: flex; flex-direction: column; margin: 0; }
            form p textarea { flex: 1; }
        </style>
        {% block extra_styles %}{% endblock %}
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </body>
</html>
